.RPM-BookList-category {
    .shelf {
        &Title {
            display: flex;
            align-content: center;
            .icon {
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }

            .text {
                font-weight: var(--bold);
                font-size: var(--subtitle);
                color: var(--aquamarine);
            }
        }

        &Content {
            border-bottom: 1px solid var(--grey);
            padding-bottom: 10px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .book {
                margin: 20px 40px 20px 0;
                width: 140px;
                display: inline-flex;
                flex-direction: column;
                box-sizing: border-box;
                position: relative;

                img {
                    width: 140px;
                    height: 200px;
                }

                .moveBooks {
                    position: absolute;
                    right: 0;
                    top: 160px;
                    width: 40px;
                    height: 40px;
                    cursor: pointer;
                    border-radius: 50%;
                    background-size: 28px;
                    background-color: var(--aquamarine);
                    background-position: center;
                    background-image: url('/images/arrow-down.svg');
                    background-repeat: no-repeat;

                    select {
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                }

                .title {
                    margin-top: 20px;
                    padding: 10px 0;
                    font-size: var(--label);
                }

                .author {
                    color: var(--grey);
                }
            }
        }
    }
}
