.RPM-BookList {
    padding: 18px;
    background-color: var(--white-smoke);
    overflow-y: auto;
    height: 100%;
    &-category {
        padding: 18px;
        .book {
            &Title {
                font-weight: var(--bold);
                font-size: var(--subtitle);
                color: var(--gold);

            }

            &Content {
                border-bottom: 1px solid var(--grey);
                .book {
                    margin: 20px;
                    width: 280px;
                    display: inline-flex;
                    flex-direction: column;
                    box-sizing: border-box;

                    img {
                        width: 130px;
                        height: 200px;
                    }
                }


            }
        }
    }
}
