// App font family
@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/font/Roboto-Bold.ttf') format('tff');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/font/Roboto-Regular.ttf') format('tff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url('/font/Roboto-Light.ttf') format('tff');
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
}

// App font-size
:root{
    --title: 28px;
    --subtitle: 18px;
    --label: 16px;
    --text: 14px;
}

// App font-weight
:root{
    --bold: 500;
    --normal: 400;
    --light: 300;
}

// App colors
:root{
    --aquamarine: #00ca9d;
    --forest: #2fa883;
    --gold: #f5a623;
    --ruby: #e75151;
    --black: #474747;
    --grey: #979797;
    --white-smoke: #fafafa;
    --white: #ffffff;
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    // Default font size: 14px and font-weight: 300
    font-weight: var(--normal);
    font-size: var(--text);
}

.RPM{
    &-Index {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }

    &-Loader {
        position: relative;
        height: 400px;

        &-inner {
            position: absolute;
            top: 80%;
            width: calc(100% - 200px);
            color: var(--aquamarine);
            font-size: var(--subtitle);
            padding: 0 100px;
            text-align: center;

            .loader-label {
                opacity: 0;
                display: inline-block;
            }

            .loader-label:nth-child(6) {
                animation: LoaderAnimation 2s infinite ease-in-out;
            }

            .loader-label:nth-child(5) {
                animation: LoaderAnimation 2s 100ms infinite ease-in-out;
            }

            .loader-label:nth-child(4) {
                animation: LoaderAnimation 2s 200ms infinite ease-in-out;
            }

            .loader-label:nth-child(3) {
                animation: LoaderAnimation 2s 300ms infinite ease-in-out;
            }

            .loader-label:nth-child(2) {
                animation: LoaderAnimation 2s 400ms infinite ease-in-out;
            }

            .loader-label:nth-child(1) {
                animation: LoaderAnimation 2s 500ms infinite ease-in-out;
            }
        }
    }
}

@keyframes LoaderAnimation {
    0% {
        opacity: 0;
        transform: translateX(-300px);
    }
    50% {
        opacity: 1;
        transform: translateX(0px);
    }
    100% {
        opacity: 0;
        transform: translateX(300px);
    }
}
